.transaction-container{
    margin-top: 10px;
    width:170px;
    height:65px;
    border: 0.5px solid rgb(180, 173, 173);
    display: flex;
    line-height: 7px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.transaction-image{
    width:50px;
    height: 50px;
}