.profile-container{
    width: 270px;
    height:95%;
    background-color: rgba(255, 240, 240, 0.993);
    border-radius: 20px;
    border: solid 0.5px rgb(201, 200, 200);
    position: relative;
    left:20px;
    top: -80px;
}
.logo-image{
    width: 50px;
    height: 50px;
}
.profile-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-logo h1{
    font-size: 30px;
    margin-left: 5px;
}
.profile-picture{
    width: 100%;
    height:500px;
    display: flex;
    justify-content: flex-start ;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    line-height: 0px;
}

.profile-picture-image{
    height: 90px;
    width:90px;
  
}

.profile-picture p{
    font-weight: 100;
    color: rgba(0, 0, 0, 0.986);
    font-size: 16px;
   
}

.profile-budget{
    position: relative;
    top: -300px;
    left: 60px;
    line-height: 10px;
   
}

.profile-budget h1{
    font-size: 40px;
}
.profile-budget p{
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.548);
    font-size: 14px;
}
.profile-buttons{
    position: relative;
    top:-290px;
}
.profile-signout{
    position: relative;
    top:-200px;
}

