.home-container{
    width:75%;
    height:80%;
    border: 1px solid white;
    border-radius: 30px;
    background-color: rgba(236, 232, 232, 0.925);
}
.home-dashboard-title{
    position: relative;
    top:-740px;
    left: 350px;
    font-weight: normal;
}